.services {
    .services-title {
        h2 {
            color: $darkBlue;
            font-weight: bold;
        }
    }

    .icon-text {
        h4 {
            color: $darkBlue;
        }

        p {
            font-size: 14px;
        }
    }

}