.we-specialist {
    background-image: url("../app/images/main-bg.png");
    background-position: center;
    height: 600px;
    border-bottom: 3px solid $blue;


  
    .we-specialist-image {
        color: $white;
    }

    .we-specialist-btn {

        .btn {
            color: $white;
        }
    }

}